version: 2.0
jobs:
  build:
    docker:
      - image: ubuntu:24.04
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            dpkg --add-architecture i386
            apt update
            DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt install -y \
              $(cat .circleci/build-dependencies.txt)
      - run:
          name: Report compiler versions
          command: |
            gcc --version
            g++ --version
            dpkg -l | grep ocaml
      - run:
          name: Initialize opam and install OCaml 5.1.0
          command: |
            opam init --disable-sandboxing --compiler=5.1.0 -y
            eval $(opam env)
            opam install -y $(cat .circleci/opam-packages.txt)
      - run:
          name: Update submodules
          command: git submodule update --init --recursive
      - run:
          name: Build submodules
          command: |
            eval $(opam env)
            make -C contrib -j $(nproc)
      - run:
          name: Build project
          command: |
            eval $(opam env)
            . contrib/env.sh
            ./autogen.sh
            ./configure
            make -j $(nproc)
      - persist_to_workspace:
          root: /
          paths: root/project usr/lib/meta
  test:
    requires:
      - build
    docker:
      - image: ubuntu:24.04
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            apt update
            DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt install -y \
              $(cat .circleci/test-dependencies.txt)
      - run:
          name: Initialize opam and install OCaml 5.1.0
          command: |
            opam init --disable-sandboxing --compiler=5.1.0 -y
            eval $(opam env)
            opam install -y $(cat .circleci/opam-packages.txt)
      - attach_workspace:
          at: /
      - run:
          name: Run tests
          command: |
            eval $(opam env)
            make -C /root/project/tests -k

workflows:
  version: 2
  default:
    jobs:
      - build
      - test:
          requires:
            - build
