Source: liballocs
Section: libs
Priority: optional
Maintainer: Zoltan Meszaros <zoltan.meszaros@kcl.ac.uk>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 12),
 autotools-dev,
 build-essential,
 libbsd-dev,
 libelf-dev,
 libdw-dev,
 binutils-dev,
 autoconf,
 automake,
 libtool,
 pkg-config,
 autoconf-archive,
 g++,
 opam
 ocamlbuild,
 ocaml-findlib,
 libnum-ocaml-dev,
 default-jdk-headless,
 python3,
 libunwind-dev,
 libc6-dev-i386,
 zlib1g-dev,
 libc6-dbg,
 libboost-iostreams-dev,
 libboost-regex-dev,
 libboost-serialization-dev,
 libboost-filesystem-dev,
 libffi-dev,
Standards-Version: 4.7.0
Homepage: https://github.com/stephenrkell/liballocs
#Vcs-Browser: https://salsa.debian.org/debian/liballocs
#Vcs-Git: https://salsa.debian.org/debian/liballocs.git

Package: liballocs-dev
Section: libdevel
Architecture: amd64
Multi-Arch: no
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
