name: CI


on:
  pull_request:
    branches: [ master ]


jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    container:
      image: ubuntu:24.04
    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Install build dependencies
        run: |
          dpkg --add-architecture i386
          apt update
          DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt install -y \
            $(cat .circleci/build-dependencies.txt)
      
      - name: Install additional dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt install -y \
            ocamlbuild ocaml-findlib libnum-ocaml-dev \
            ca-certificates clang libglib2.0-dev
      
      - name: Report OCaml version for debugging
        run: |
          dpkg -l | grep ocaml
      
      - name: Initialize opam
        run: |
          opam init --disable-sandboxing -y
          eval $(opam env)
          opam install -y ocamlbuild ocamlfind num dune dune-configurator cppo csexp ppx_dervive_yojson ppx_deriving ppx_deriving_yojson yojson zarith stdlib-shims
      
      - name: Build submodules
        run: make -C contrib -j $(nproc)
      
      - name: Build project
        run: |
          . contrib/env.sh
          ./autogen.sh
          ./configure
          make -j $(nproc)
      
      - name: Run tests
        run: make -C tests -k
  
  build-latest-gcc-ocaml414:
    runs-on: ubuntu-24.04
    needs: build-and-test
    continue-on-error: true
    container:
      image: gcc:latest
    
    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Install build dependencies
        run: |
          apt-get update
          apt-get install -y $(cat .circleci/build-dependencies.txt)
      
      - name: Install additional dependencies
        run: |
          apt-get install -y ca-certificates clang libglib2.0-dev
      
      - name: Initialize opam and install OCaml 4.14
        run: |
          opam init --disable-sandboxing -y
          opam switch create 4.14 4.14.2
          eval $(opam env)
          opam install -y ocamlbuild ocamlfind num
      
      - name: Build submodules
        run: |
          eval $(opam env)
          make -C contrib -j $(nproc)
      
      - name: Build project
        run: |
          eval $(opam env)
          . contrib/env.sh
          ./autogen.sh
          ./configure
          make -j $(nproc)
      
      - name: Run tests
        run: |
          eval $(opam env)
          make -C tests -k