name: CI

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    
    steps:
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Cache APT packages
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: build-essential libbsd-dev libelf-dev libdw-dev binutils-dev zlib1g-dev autoconf automake libtool pkg-config autoconf-archive g++-10 gcc-10 lib32gcc-10-dev opam default-jdk-headless python3 make git gawk gdb wget libc6-dbg libunwind-dev libunwind-dev:i386 linux-libc-dev-i386-cross libc6-dev-i386 libboost-iostreams-dev libboost-regex-dev libboost-serialization-dev libboost-filesystem-dev libffi-dev gettext-base ca-certificates clang libglib2.0-dev
          version: 2.0
      
      - name: Enable i386 architecture
        run: |
          sudo dpkg --add-architecture i386
          sudo apt-get update
      
      - name: Set up compiler alternatives
        run: |
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 100
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-10 100
      
      - name: Cache opam
        id: cache-opam
        uses: actions/cache@v4
        with:
          path: ~/.opam
          key: opam-${{ runner.os }}-4.11.2-${{ hashFiles('**/*.opam') }}
          restore-keys: |
            opam-${{ runner.os }}-4.11.2-
      
      - name: Setup OCaml 4.11 with opam
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: |
          opam init --disable-sandboxing -y -a --compiler=4.11.2
          eval $(opam env)
          opam install -y ocamlfind ocamlbuild num
      
      - name: Report compiler versions
        run: |
          gcc --version
          g++ --version
          eval $(opam env)
          ocaml --version
          opam list
      
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Build submodules
        run: |
          eval $(opam env)
          make -C contrib -j $(nproc)
      
      - name: Build project
        run: |
          eval $(opam env)
          . contrib/env.sh
          ./autogen.sh
          ./configure
          make -j $(nproc)
      
      - name: Run tests
        run: make -C tests -k
  
  build-and-test-latest:
    runs-on: ubuntu-latest
    continue-on-error: true
    container:
      image: gcc:latest
    
    steps:
      - name: Install dependencies
        run: |
          dpkg --add-architecture i386
          apt-get update
          DEBIAN_FRONTEND=noninteractive apt-get install -y \
            libbsd-dev libelf-dev libdw-dev binutils-dev zlib1g-dev \
            autoconf automake libtool pkg-config autoconf-archive \
            gcc-multilib g++-multilib lib32gcc-s1 \
            opam \
            default-jdk-headless python3 \
            make git gawk gdb wget libc6-dbg \
            libunwind-dev libunwind-dev:i386 linux-libc-dev-i386-cross libc6-dev-i386 \
            libboost-iostreams-dev libboost-regex-dev \
            libboost-serialization-dev libboost-filesystem-dev libffi-dev \
            gettext-base \
            ca-certificates clang \
            pkg-config libglib2.0-dev
      
      - name: Checkout code with submodules
        uses: actions/checkout@v4
        with:
          submodules: recursive
      
      - name: Setup OCaml 4.14 with opam
        run: |
          opam init --disable-sandboxing -y -a --compiler=4.14.2
          eval $(opam env)
          opam install -y ocamlfind ocamlbuild num
      
      - name: Report compiler versions
        run: |
          gcc --version
          g++ --version
          eval $(opam env)
          ocaml --version
          opam list
      
      - name: Build submodules
        run: |
          eval $(opam env)
          make -C contrib -j $(nproc)
      
      - name: Build project
        run: |
          eval $(opam env)
          . contrib/env.sh
          ./autogen.sh
          ./configure
          make -j $(nproc)
      
      - name: Run tests
        run: make -C tests -k
